body {
    /* background-image: url(./../img/thumb-1920-1056416.jpg); */
    background-color: dimgrey;
}

#container {
    width: 100%;
    padding-bottom: 100px;
    display: inline-block;
    flex-wrap: wrap;
}

#name {
    padding: 10px;
}

#univers {
    padding: 10px;
}

#button {
    padding: 10px;
    background-color: red;
}

#search {
    padding: 10px;
}

.box {
    background-color: darkgoldenrod;
    border-radius: 40px;
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 30em;
    width: 15em;
    margin: 10px;
}

.name {
    font-size: 3em;
    color: black;
}

.universe {
    /* background-color: yellow; */
    font-size: 2em;
    color: white
}

;